---
layout: page
title: Electrical
permalink: /electrical/
---

<p> Team Optix 3749 Electrical Blog Posts </p>

{% if site.categories.Electrical.size > 0 %}

  {% for post in site.posts %}

    {% if post.tags contains "Electrical" and post.hide != true %}

      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>

    {% endif %}

  {% endfor %}

{% else %}

  <p> Our department is working on posts from this category! </p>

{% endif %}

<h4>Team Members:</h4>
<table style="text-align: center;">
  <tr id="table">

  </tr>
</table>

<script>

  var data = ["Alex Z", "Varalu N", "Chinmay N"];

  var list = document.getElementById("table");

  data.forEach((item) => {
    let li = document.createElement("td");
    li.innerText = item;
    list.appendChild(li);
  });

</script>