---
layout: page
title: Build
permalink: /build/
---

<h1> Welcome to Team Optix's Build Page! </h1> 
<p> Team Optix's 3749 Build's Team! - Alex Z, Director of Electrical Systems </p>


<h2>Team Members:</h2>
<ul id = "team"> </ul>
<script>
  var data = [""];
  
  var list = document.getElementById("team");

  data.forEach((item) => {
    let li = document.createElement("li");
    li.innerText = item;
    list.appendChild(li);
  });


</script>





 
{% if site.categories.Build.size > 0 %}

<h2>Preseason</h2>
{% for post in site.posts %}
{% if post.tags contains "Preseason" and post.categories contains "Build" and post.hide != true %}
        <li><a href = "{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}

{% endfor %}

<h2>Build Season</h2>
{% for post in site.posts %}
{% if post.tags contains "Build Season" and post.categories contains "Build" and post.hide != true %}
        <li><a href = "{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}

{% endfor %}


<h2>Post Season</h2>
{% for post in site.posts %}
        {% if post.tags contains "Postseason" and post.categories contains "Build" and post.hide != true %}
        <li><a href = "{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}

{% endfor %}


{% endif %}
