
// optix colors
$optix-green:rgba(rgb(178, 242, 24), 1.0);
$optix-blue: rgba(rgb(0, 181, 207), 1.0); 
$optix-navy: rgba(rgb(7, 29, 98), 1.0); 
$optix-overlayblue: mix($optix-blue, white, 69%);

$high-emph: #16a34a; 
$med-emph: #171717; 
$low-emph: rgba(rgb(255, 255, 255), 0.38);
$dark-grey : #18181b; 
// $dark-grey : #1F1B24;
$overlay: #f8fafc;
$overlay-light: #f1f5f9;

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
    font-family: "Inter", sans-serif !important;
}
@supports (font-variation-settings: normal) {
    * {
        font-family: "Inter var", sans-serif !important;
    }
}


html, body, input, textarea, select, button {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$optix-blue !important;
}

.site-title, .site-title:visited {
    color: $high-emph !important;
    font-weight: bolder;
}


.site-nav, .page-link{
    color:$med-emph!important;
    
}

.site-nav {
    background-color: $dark-grey;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}
