---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">

  {% assign filtered_posts = site.posts | where_exp: "post", "post.week != nil" %}
  {% assign posts_by_week = filtered_posts | group_by: 'week' %}
  
  {% for week_posts in posts_by_week %}
    {% capture week_number %}{{ week_posts.name }}{% endcapture %}
    {% if week_number != '0' %}
      <div class="year lead">Week {{ week_number }}</div>
      <ul class="list-unstyled">
        {% for post in week_posts.items %}
          <li>
            <span class="date day">{{ post.date | date: "%d" }}</span>
            <span class="date month small text-muted ms-1">
              {{ post.date | date: df_strftime_m }}
            </span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

</div>
